@import "tailwindcss";

@theme {
  --color-pop-pink: #ffafcc;
  --color-soft-pink: #ffc8dd;
  --color-bubblegum: #fb6f92;
  --color-lavender: #cdb4db;
  --color-matcha: #ddffbb;
  --color-cream: #fffaf0;
  
  --font-display: "DM Sans", sans-serif;
}

body {
  background-color: var(--color-cream);
  font-family: var(--font-display);
  color: #333;
}